body {
    text-align:center;
}
h1{
    font-size: 20vw;
    margin: 0px;
}
.Section {
    padding-top: 30vh;
    height: 40vh;
    padding-bottom: 30vh;
}

body {
  scroll-snap-type: y mandatory;
}

.Section {
  scroll-snap-align: start;
}
