html, body {
  height: 100vh;
  overflow: hidden;
}

.innerBody {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.Section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.innerSection {
  padding-top: 30vh;
  height: 40vh;
  padding-bottom: 30vh;
}
